#Guide:
#https://www.freedesktop.org/software/systemd/man/systemd.service.html
#https://dzone.com/articles/run-your-java-application-as-a-service-on-ubuntu

[Unit]
Description=Ram Logger Service
[Service]
User=birdofprey
# The configuration file application.properties should be here:

#change this to your workspace
WorkingDirectory=/opt/raspi-sensor-logger/ram_logger

#path to executable.
#executable is a bash script which calls jar file
ExecStart=/opt/raspi-sensor-logger/ram_logger/ram_logger.py

SuccessExitStatus=0
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target